@inherits umbraco.MacroEngines.DynamicNodeContext

@*
	Model = The current page the macro is executed on
			@Model.bodyText

	Parameter = collection of parameter values passed from the macro
			@Paramter.myParam

    Library = utillity library with common methods
    		@Library.NodeById(1233)
*@



@* The fun starts here *@

@{
	var homePage = Model.AncestorsOrSelf(1).First();
	var regions = homePage.Children.Where("nodeTypeAlias.Equals(\"Area\")");
	var specialties = Library.NodeById(1063).Children.Where("nodeTypeAlias.Equals(\"Specialty\")");
}
<div class="search-criteria areas-served">
	<div class="section-title">
		<h3>Search</h3>
	</div>
	<div class="section-body">
		<select>
			<option value="">Areas Served</option>
			@foreach(var region in regions)
			{
				<option value="@region.Id">@region.Name</option>
			}
		</select>
	</div>
</div>
<div class="search-criteria specialties">
	<div class="section-body">
		<select>
			<option value="">Specialties</option>
			@foreach(var specialty in specialties)
			{
				if(Convert.ToInt32(specialty.specialtyID) != 29 && Convert.ToInt32(specialty.specialtyID) != 152)
				{
					<option value="@specialty.Id">@specialty.Name</option>
				}
			}
		</select>
	</div>
</div>