@inherits umbraco.MacroEngines.DynamicNodeContext

@*
	Model = The current page the macro is executed on
			@Model.bodyText

	Parameter = collection of parameter values passed from the macro
			@Paramter.myParam

    Library = utillity library with common methods
    		@Library.NodeById(1233)
*@



@* The fun starts here *@

@{
	var homePage = Model.AncestorsOrSelf(1).First();
}

@foreach(var area in homePage.Children.Where("nodeTypeAlias.Equals(\"Area\")"))
{
	string specialtyUrl = "/primary-care-physicians/?area=" + area.Id.ToString();
	<ul>
		<li>
			<a href="@area.Url">@area.displayName</a>
			<ul>
				@if (area.HasProperty("navSpecialties") && area.GetProperty("navSpecialties").Value != String.Empty)
				{
					foreach (var x in area.navSpecialties)
					{
						var n = Library.NodeById(x.InnerText);
						string navUrl = n.Url + "?area=" + area.Id.ToString();
						<li>
							<a href="@navUrl">@n.Name</a>
						</li>
					}
				}
				<li>
					<a href="@specialtyUrl">Primary Care Physicians</a>
				</li>
			</ul>
		</li>
	</ul>
}