@inherits umbraco.MacroEngines.DynamicNodeContext

@*
	Model = The current page the macro is executed on
			@Model.bodyText

	Parameter = collection of parameter values passed from the macro
			@Paramter.myParam

    Library = utillity library with common methods
    		@Library.NodeById(1233)
*@



@* The fun starts here *@

@{
	var homePage = Model.AncestorsOrSelf(1).First();
}

@foreach(var area in homePage.Children.Where("nodeTypeAlias.Equals(\"Area\")"))
{
	<div>
		<div class="title">
			<h3>
				<a href="@area.Url">@area.displayName</a>
			</h3>
		</div>
		<div class="description">
			<p>@area.homePageBlurb</p>
		</div>
	</div>
}