@inherits umbraco.MacroEngines.DynamicNodeContext
@using System.Text.RegularExpressions;

@*
	Model = The current page the macro is executed on
			@Model.bodyText

	Parameter = collection of parameter values passed from the macro
			@Paramter.myParam

    Library = utillity library with common methods
    		@Library.NodeById(1233)
*@



@* The fun starts here *@

@{
	var highlights = Library.NodeById(1398);
}

@foreach(var highlight in highlights.Children.Where("nodeTypeAlias.Equals(\"Highlight\")"))
{
	string highlightDesc = Regex.Replace(highlight.pageContent.ToString(), "<.*?>", string.Empty);
	if(highlightDesc.Length > 300)
	{
		highlightDesc = highlightDesc.Substring(0, 300) + "...";
	}
	<div class="slide">
		<img src="@highlight.thumbnail" class="slide-img">
		<h4>@highlight.Name</h4>
		<p>@highlightDesc <a href="@highlight.Url">Read More</a></p>
	</div>
}