@inherits umbraco.MacroEngines.DynamicNodeContext

@*
	Model = The current page the macro is executed on
			@Model.bodyText

	Parameter = collection of parameter values passed from the macro
			@Paramter.myParam

    Library = utillity library with common methods
    		@Library.NodeById(1233)
*@



@* The fun starts here *@

@{
	var umbracoProviders = Model.AncestorOrSelf().Descendants("Provider");
	var client = new WebClient();
	var providersJson = client.DownloadString("http://doctors.stagnes.org/API/meettheteam?mode=ProviderResults&practices=" + Model.practiceID + "&dataFormat=json");
	var providers = Json.Decode(providersJson);
}

@if(Model.practiceID != "-1")
{
	if(Convert.ToInt32(providers.ProviderInformation.Navigation.TotalRecords) > 1)
	{
		foreach(var provider in providers.ProviderInformation.Provider)
		{
			var providerJson = client.DownloadString("http://doctors.stagnes.org/API/meettheteam?mode=ProviderDetails&providerID=" + provider.ID + "&dataFormat=json");
			var apiProvider = Json.Decode(providerJson);
			foreach(var umbracoProvider in umbracoProviders)
			{	
				if(umbracoProvider.providerID == provider.ID)
				{
					string providerName = apiProvider.ProviderInformation.Provider.FirstName;
					if(apiProvider.ProviderInformation.Provider.MiddleName != null)
					{
						providerName += ' ' + apiProvider.ProviderInformation.Provider.MiddleName;
					}
					providerName += ' ' + apiProvider.ProviderInformation.Provider.LastName;
					if(apiProvider.ProviderInformation.Provider.MedicalSuffixOrDegrees != null)
					{
						providerName += ", " + apiProvider.ProviderInformation.Provider.MedicalSuffixOrDegrees;
					}
					string providerSpecialties = String.Empty;
					foreach(var specialty in apiProvider.ProviderInformation.Provider.Specialty)
					{
						providerSpecialties += specialty.Name + ", ";
					}
					providerSpecialties = providerSpecialties.Trim();
					providerSpecialties = providerSpecialties.TrimEnd(',');
					<div class="provider">
						@if(!String.IsNullOrEmpty(umbracoProvider.photo))
						{
							@Html.Raw("<div class=\"photo\"><img src=\"" + umbracoProvider.photo + "\" alt=\"" + providerName + "\"/></div>");
						}
						else if(apiProvider.ProviderInformation.Provider.PhotoURL != null)
						{
							@Html.Raw("<div class=\"photo\"><img src=\"" + apiProvider.ProviderInformation.Provider.PhotoURL + "\" alt=\"" + providerName + "\"/></div>");
						}
						else
						{
							@Html.Raw("<div class=\"photo\"></div>");
						}
						<div class="info">
							<span class="name">@providerName</span>
							<em class="specialties">
								@providerSpecialties
							</em>
							<div class="bio">@umbracoProvider.bio</div>
						</div>
					</div>
				}
			}
		}
	}
	else
	{
		var provider = providers.ProviderInformation.Provider;
		var providerJson = client.DownloadString("http://doctors.stagnes.org/API/meettheteam?mode=ProviderDetails&providerID=" + provider.ID + "&dataFormat=json");
		var apiProvider = Json.Decode(providerJson);
		foreach(var umbracoProvider in umbracoProviders)
		{
			if(umbracoProvider.providerID == provider.ID)
			{
				string providerName = apiProvider.ProviderInformation.Provider.FirstName;
				if(apiProvider.ProviderInformation.Provider.MiddleName != null)
				{
					providerName += ' ' + apiProvider.ProviderInformation.Provider.MiddleName;
				}
				providerName += ' ' + apiProvider.ProviderInformation.Provider.LastName;
				if(apiProvider.ProviderInformation.Provider.MedicalSuffixOrDegrees != null)
				{
					providerName += ", " + apiProvider.ProviderInformation.Provider.MedicalSuffixOrDegrees;
				}
				string providerSpecialties = String.Empty;
				foreach(var specialty in apiProvider.ProviderInformation.Provider.Specialty)
				{
					providerSpecialties += specialty.Name + ", ";
				}
				providerSpecialties = providerSpecialties.Trim();
				providerSpecialties = providerSpecialties.TrimEnd(',');
				<div class="provider">
					@if(!String.IsNullOrEmpty(umbracoProvider.photo))
					{
						@Html.Raw("<div class=\"photo\"><img src=\"" + umbracoProvider.photo + "\" alt=\"" + providerName + "\"/></div>");
					}
					else if(apiProvider.ProviderInformation.Provider.PhotoURL != null)
					{
						@Html.Raw("<div class=\"photo\"><img src=\"" + apiProvider.ProviderInformation.Provider.PhotoURL + "\" alt=\"" + providerName + "\"/></div>");
					}
					else
					{
						@Html.Raw("<div class=\"photo\"></div>");
					}
					<div class="info">
						<span class="name">@providerName</span>
						<em class="specialties">
							@providerSpecialties
						</em>
						<div class="bio">@umbracoProvider.bio</div>
					</div>
				</div>
			}
		}
	}
}