@inherits umbraco.MacroEngines.DynamicNodeContext

@*
	Model = The current page the macro is executed on
			@Model.bodyText

	Parameter = collection of parameter values passed from the macro
			@Paramter.myParam

    Library = utillity library with common methods
    		@Library.NodeById(1233)
*@



@* The fun starts here *@

@{
	var homePage = Model.AncestorsOrSelf(1).First();
	var practices = homePage.Descendants("Practice");
	var client = new WebClient();
	var json = client.DownloadString("http://doctors.stagnes.org/API/meettheteam?mode=PracticeDetails&practiceid=" + Model.practiceID + "&dataFormat=json");
	var response = Json.Decode(json);
	var apiPractice = response.Practice;
}

@if(Model.practiceID != "-1")
{
	<h3>@apiPractice.Address[0].Line1 @apiPractice.Address[0].Line2, @apiPractice.Address[0].City, @apiPractice.Address[0].State, @apiPractice.Address[0].Zip</h3>
	<em>
		@foreach(var practice in practices)
		{
			if(practice.practiceID == apiPractice.ID)
			{
			var selectedPractice = Library.NodeById(practice.Id);
				if (selectedPractice.HasProperty("specialties") && selectedPractice.GetProperty("specialties").Value != String.Empty)
				{
					string specialties = String.Empty;
					foreach (var x in selectedPractice.specialties)
					{
						var n = Library.NodeById(x.InnerText);
						specialties += n.Name + ", ";
					}
					specialties = specialties.Trim();
					specialties = specialties.TrimEnd(',');
					@Html.Raw(specialties);
				}
			}
		}
	</em>
	<span>@Model.languagesSpoken</span>
	foreach(var number in apiPractice.Address[0].ContactNumber)
	{
		if(number.Type == "Phone")
		{
			@Html.Raw("<span>" + number.Number + "</span>");
		}
	}
	<div id="hours">
		@Model.hours
	</div>
	<script type="text/javascript">
		var practiceLat = "@apiPractice.Address[0].Latitude";
		var practiceLng = "@apiPractice.Address[0].Longitude";
	</script>
}
else
{
	@Html.Raw(Model.hours);
}