@using System.Xml.XPath
@using umbraco;
@using umbraco.NodeFactory;
@using umbraco.MacroEngines
@inherits umbraco.MacroEngines.DynamicNodeContext
@using System.Text.RegularExpressions;

@{
	string selectedCategory = Request.QueryString["cat"];
	string pageQS = Request.QueryString["page"];
	int selectedPage = 1;
	if(!String.IsNullOrEmpty(pageQS))
	{
		selectedPage = Convert.ToInt32(pageQS);
	}
	int articlesPerPage = Convert.ToInt32(Model.articlesPerPage);
	int totalArticles = 0;
	dynamic articles = Model.Children.Where("nodeTypeAlias.Equals(\"Highlight\")").OrderBy("createDate desc");
	foreach (var article in articles)
	{
		totalArticles++;
	}
	double numberOfPages = (totalArticles / Convert.ToDouble(articlesPerPage));
}

@helper CatBlogPost(dynamic parent)
{
	foreach (int articleId in parent)
	{
		dynamic selectedArticle = Library.NodeById(articleId);  
		string tags = String.Empty;
		string articleTitle = String.Empty;
		string blogDesc = Regex.Replace(selectedArticle.pageContent.ToString(), "<.*?>", string.Empty);
		if(selectedArticle.pageHeading != String.Empty)
		{
			articleTitle = selectedArticle.pageHeading;
		}
		else
		{
			articleTitle = selectedArticle.Name;
		}
		if (!string.IsNullOrEmpty(selectedArticle.GetProperty("categories").Value))
		{
			foreach(var item in selectedArticle.GetProperty("categories").Value.Split(','))
			{
				tags += "<a href=\"" + @Model.Url + "?cat=" + @item + "\">" + @item + "</a>, ";
			}
			tags = tags.Trim();
			tags = tags.TrimEnd(',');
		}
		<div class="article">
			<div class="content">
				<h2><a href="@selectedArticle.Url">@articleTitle</a></h2>
				<p>@blogDesc.Substring(0,100)...<br/><a href="@selectedArticle.Url">Read more...</a></p>
			</div>
			<div class="meta">
				<span>Posted on @selectedArticle.createDate.ToString("MMMM d, yyyy") </span>
				@if (!string.IsNullOrEmpty(tags))
				{
					<span> | @(new HtmlString(tags))</span>
				}
			</div>
		</div>
	}
}

@helper BlogPost(dynamic parent)
{
	foreach (var article in parent)
	{
		dynamic selectedArticle = Library.NodeById(article.Id);  
		string tags = "";
		string articleTitle = "";
		string blogDesc = Regex.Replace(selectedArticle.pageContent.ToString(), "<.*?>", string.Empty);
		if(selectedArticle.pageHeading != String.Empty)
		{
			articleTitle = selectedArticle.pageHeading;
		}
		else
		{
			articleTitle = selectedArticle.Name;
		}
		if (selectedArticle.HasProperty("categories") && !string.IsNullOrEmpty(selectedArticle.GetProperty("categories").Value))
		{
			foreach(var item in selectedArticle.GetProperty("categories").Value.Split(','))
			{
				tags += "<a href=\"" + @Model.Url + "?cat=" + @item + "\">" + @item + "</a>, ";
			}
			tags = tags.Trim();
			tags = tags.TrimEnd(',');
		}
		<div class="article">
			<div class="content">
				<h2><a href="@selectedArticle.Url">@articleTitle</a></h2>
				<p>@blogDesc.Substring(0,100)...<br/><a href="@selectedArticle.Url">Read more...</a></p>
			</div>
			<div class="meta">
				<span>Posted on @selectedArticle.createDate.ToString("MMMM d, yyyy") </span>
				@if (!string.IsNullOrEmpty(tags))
				{
					<span> | @(new HtmlString(tags))</span>
				}
			</div>
		</div>
	}
}

<div id="highlights">
	@if (!String.IsNullOrEmpty(selectedCategory))
	{
		List<int> matchedArticles = new List<int>();
		foreach(var article in articles)
		{
			if (article.HasValue("categories"))
			{	
				foreach(var item in article.GetProperty("categories").Value.Split(','))
				{ 
					if (item == selectedCategory)
					{
						matchedArticles.Add(article.Id);
					}
				}
				totalArticles = matchedArticles.Count;
			}
		}
		if (totalArticles >= articlesPerPage && selectedPage > 1)
		{
			@CatBlogPost(matchedArticles.Skip(articlesPerPage * (selectedPage - 1)).Take(articlesPerPage))
		}
		else if (totalArticles >= articlesPerPage && selectedPage == 1)
		{
			@CatBlogPost(matchedArticles.Skip(0).Take(articlesPerPage))
		}
		else
		{
			@CatBlogPost(matchedArticles)
		}
		if (totalArticles > articlesPerPage)
		{
			<ul id="pagination">
				@if (totalArticles >= articlesPerPage * 3)
				{
					if (selectedPage > 1)
					{
						<li><a href="@Model.Url?page=1&cat=@selectedCategory">&laquo; First</a></li>
					}
					if(selectedPage == Math.Ceiling(numberOfPages))
					{	for(int i = selectedPage - 2; i <= selectedPage; i++)
						{
							if (i != selectedPage)
							{
								<li><a href="@Model.Url?page=@i&cat=@selectedCategory">@i</a></li>
							}
							else
							{
								<li class="disabled"><a>@i</a></li>
							}
						}
					}
					else if (selectedPage > 1 && selectedPage < Math.Ceiling(numberOfPages))
					{
						for(int i = selectedPage - 1; i <= selectedPage + 1; i++)
						{
							if (i != selectedPage)
							{
								<li><a href="@Model.Url?page=@i&cat=@selectedCategory">@i</a></li>
							}
							else
							{
								<li class="disabled"><a>@i</a></li>
							}
						}
					}
					else
					{
						for(int i = 1; i <= 3; i++)
						{
							if (i != 1)
							{
								<li><a href="@Model.Url?page=@i&cat=@selectedCategory">@i</a></li>
							}
							else
							{
								<li class="disabled"><a>@i</a></li>
							}
						}
					}
					if (selectedPage < Math.Ceiling(numberOfPages))
					{
						int lastPage = Convert.ToInt32(Math.Ceiling(numberOfPages));
						<li><a href="@Model.Url?page=@lastPage&cat=@selectedCategory">Last &raquo;</a></li>
					}
				}
				else if (totalArticles > articlesPerPage && totalArticles <= articlesPerPage * 3)
				{
					if (selectedPage > 1)
					{
						<li><a href="@Model.Url?page=1&cat=@selectedCategory">&laquo; First</a></li>
					}
					for (var i = 1;i <= Math.Ceiling(numberOfPages);i++)
					{
						if (i != selectedPage)
						{
							<li><a href="@Model.Url?page=@i&cat=@selectedCategory">@i</a></li>
						}
						else
						{
							<li class="disabled"><a>@i</a></li>
						}
					}
					if (selectedPage < Math.Ceiling(numberOfPages))
					{
						int lastPage = Convert.ToInt32(Math.Ceiling(numberOfPages));
						<li><a href="@Model.Url?page=@lastPage&cat=@selectedCategory">Last &raquo;</a></li>
					}
				}
			</ul>
		}
	}
	else
	{
		if (totalArticles >= articlesPerPage && selectedPage > 1)
		{
			@BlogPost(articles.Skip(articlesPerPage * (selectedPage - 1)).Take(articlesPerPage))
		}
		else if (totalArticles >= articlesPerPage && selectedPage == 1)
		{
			@BlogPost(articles.Skip(0).Take(articlesPerPage))
		}
		else
		{
			@BlogPost(articles)
		}
		if (totalArticles > articlesPerPage)
		{
			<ul id="pagination">
				@if (totalArticles >= articlesPerPage * 3)
				{
					if (selectedPage > 1)
					{
						<li><a href="@Model.Url?page=1">&laquo; First</a></li>
					}
					if(selectedPage == Math.Ceiling(numberOfPages))
					{	for(int i = selectedPage - 2; i <= selectedPage; i++)
						{
							if (i != selectedPage)
							{
								<li><a href="@Model.Url?page=@i">@i</a></li>
							}
							else
							{
								<li class="disabled"><a>@i</a></li>
							}
						}
					}
					else if (selectedPage > 1 && selectedPage < Math.Ceiling(numberOfPages))
					{
						for(int i = selectedPage - 1; i <= selectedPage + 1; i++)
						{
							if (i != selectedPage)
							{
								<li><a href="@Model.Url?page=@i">@i</a></li>
							}
							else
							{
								<li class="disabled"><a>@i</a></li>
							}
						}
					}
					else
					{
						for(int i = 1; i <= 3; i++)
						{
							if (i != 1)
							{
								<li><a href="@Model.Url?page=@i">@i</a></li>
							}
							else
							{
								<li class="disabled"><a>@i</a></li>
							}
						}
					}
					if (selectedPage < Math.Ceiling(numberOfPages))
					{
						int lastPage = Convert.ToInt32(Math.Ceiling(numberOfPages));
						<li><a href="@Model.Url?page=@lastPage">Last &raquo;</a></li>
					}
				}
				else if (totalArticles > articlesPerPage && totalArticles <= articlesPerPage * 3)
				{
					if (selectedPage > 1)
					{
						<li><a href="@Model.Url?page=1">&laquo; First</a></li>
					}
					for (var i = 1;i <= Math.Ceiling(numberOfPages);i++)
					{
						if (i != selectedPage)
						{
							<li><a href="@Model.Url?page=@i">@i</a></li>
						}
						else
						{
							<li class="disabled"><a>@i</a></li>
						}
					}
					if (selectedPage < Math.Ceiling(numberOfPages))
					{
						int lastPage = Convert.ToInt32(Math.Ceiling(numberOfPages));
						<li><a href="@Model.Url?page=@lastPage">Last &raquo;</a></li>
					}
				}
			</ul>
		}
	}
</div>