@inherits umbraco.MacroEngines.DynamicNodeContext

@*
	Model = The current page the macro is executed on
			@Model.bodyText

	Parameter = collection of parameter values passed from the macro
			@Paramter.myParam

    Library = utillity library with common methods
    		@Library.NodeById(1233)
*@



@* The fun starts here *@

@{
	var homePage = Model.AncestorsOrSelf(1).First();
}

<ul>
	@foreach(var child in homePage.Children.Where("umbracoNaviHide != true"))
	{
		if(child.NodeTypeAlias == "Area")
		{
			string specialtyUrl = "/primary-care-physicians/?area=" + child.Id.ToString();
			<li class="dropdown">
				<a href="@child.Url">@child.Name <i class="fa fa-caret-down"></i></a>
				<ul>
					@if (child.HasProperty("navSpecialties") && child.GetProperty("navSpecialties").Value != String.Empty)
					{
						foreach (var x in child.navSpecialties)
						{
							var n = Library.NodeById(x.InnerText);
							string navUrl = n.Url + "?area=" + child.Id.ToString();
							<li>
								<a href="@navUrl">@n.Name</a>
							</li>
						}
					}
					<li>
						<a href="@specialtyUrl">Primary Care Physicians</a>
					</li>
				</ul>
			</li>
		}
		else
		{
			<li>
				<a href="@child.Url">@child.Name</a>
			</li>
		}
	}
	@foreach(var child in homePage.skipNav.Items)
	{
		<li>
			<a href="@child.Url" @Html.Raw(child.NewWindow ? "target=\"_blank\"" : "")>@child.Title</a>
		</li>
	}
</ul>