@inherits umbraco.MacroEngines.DynamicNodeContext

@*
	Model = The current page the macro is executed on
			@Model.bodyText

	Parameter = collection of parameter values passed from the macro
			@Paramter.myParam

    Library = utillity library with common methods
    		@Library.NodeById(1233)
*@



@* The fun starts here *@

@{
	string selectedArea = Request.QueryString["area"];
	var practices = Library.NodeById(Convert.ToInt32(selectedArea)).Children.Where("nodeTypeAlias.Equals(\"Practice\")");
	HashSet<int> matchedSpecialties = new HashSet<int>();
	foreach(var practice in practices)
	{
		if (practice.HasProperty("specialties") && practice.GetProperty("specialties").Value != String.Empty)
		{
			foreach (var x in practice.specialties){
				var n = Library.NodeById(x.InnerText);
				if(n.Id != Model.Id)
				{
					matchedSpecialties.Add(n.Id);
				}
			}
		}
	}
	int currentSpecialty = 1;
}
@if(matchedSpecialties.Count() > 0)
{
	<section id="list-of-specialties">
		<div class="section-title">
			<h3>Other Specialties In This Area</h3>
		</div>
		<div class="section-body">
			@foreach(var specialtyId in matchedSpecialties)
			{
				var specialty = Library.NodeById(specialtyId);
				string specialtyUrl = specialty.Url + "?area=" + selectedArea;
				if(currentSpecialty == 1)
				{
					@Html.Raw("<div>");
				}
				<div class="specialty">
					<h3><a href="@specialtyUrl">@specialty.Name</a></h3>
				</div>
				if(currentSpecialty == (Convert.ToInt32(Math.Ceiling(Convert.ToDecimal(matchedSpecialties.Count() /2.0)))))
				{
					@Html.Raw("</div><div>");
				}
				else if(currentSpecialty == matchedSpecialties.Count())
				{
					@Html.Raw("</div>");
				}
				currentSpecialty++;
			}
		</div>
	</section>	
}