@inherits umbraco.MacroEngines.DynamicNodeContext

@*
	Model = The current page the macro is executed on
			@Model.bodyText

	Parameter = collection of parameter values passed from the macro
			@Paramter.myParam

    Library = utillity library with common methods
    		@Library.NodeById(1233)
*@



@* The fun starts here *@

<div id="heading" @Html.Raw(Model.centerHeader || Model.NodeTypeAlias == "Area" ? "" : "class=\"text-page\"") @Html.Raw(!String.IsNullOrEmpty(Model.headerBackground) ? "style=\"background-image:url(" + Model.headerBackground + ")\"" : "")>
	<h1 @Html.Raw(!String.IsNullOrEmpty(Model.headerBackground) && Model.nodeTypeAlias != "Area" ? "class=\"hidden\"" : "")>
		@if(!String.IsNullOrEmpty(Model.pageHeading))
		{
			@Html.Raw(Model.pageHeading);
		}
		else
		{
			@Html.Raw(Model.Name);
		}
	</h1>
</div>