@inherits umbraco.MacroEngines.DynamicNodeContext

@*
	Model = The current page the macro is executed on
			@Model.bodyText

	Parameter = collection of parameter values passed from the macro
			@Paramter.myParam

    Library = utillity library with common methods
    		@Library.NodeById(1233)
*@



@* The fun starts here *@

@{
	
	HashSet<int> practiceIds = new HashSet<int>();
	string selectedArea = Request.QueryString["area"];
	var practices = Model.AncestorOrSelf().Descendants("Practice");
	if(!String.IsNullOrEmpty(selectedArea))
	{
		practices = Library.NodeById(Convert.ToInt32(selectedArea)).Children.Where("nodeTypeAlias.Equals(\"Practice\")");
	}
	foreach(var practice in practices)
	{
		if (practice.HasProperty("specialties") && practice.GetProperty("specialties").Value != String.Empty)
		{
			foreach (var x in practice.specialties)
			{
				var n = Library.NodeById(x.InnerText);
				if(Convert.ToInt32(n.specialtyID) == 29 || Convert.ToInt32(n.specialtyID) == 152)
				{
					if(!String.IsNullOrEmpty(practice.practiceID))
					{
						practiceIds.Add(practice.Id);
					}
				}
			}
		}
	}
	int currentPractice = 1;
}
<section id="list-of-practices">
	<div class="section-title">
		<h3>List of Practices</h3>
	</div>
	<div class="section-body">
		@foreach(int practiceId in practiceIds)
		{
			var umbracoPractice = Library.NodeById(practiceId);
			var client = new WebClient();
			var json = client.DownloadString("http://doctors.stagnes.org/API/meettheteam?mode=PracticeDetails&practiceid=" + umbracoPractice.practiceID + "&dataFormat=json");
			var response = Json.Decode(json);
			var apiPractice = response.Practice;
			if(currentPractice == 1)
			{
				@Html.Raw("<div>");
			}
			<div class="practice">
				@if(umbracoPractice.practiceID != "-1")
				{
					<h4>
						<a href="@umbracoPractice.Url">@apiPractice.Name</a>
					</h4>
					<em>
						@if (umbracoPractice.HasProperty("specialties") && umbracoPractice.GetProperty("specialties").Value != String.Empty)
						{
							string specialties = String.Empty;
							foreach (var x in umbracoPractice.specialties){
								var n = Library.NodeById(x.InnerText);
								specialties += n.Name + ", ";
							}
							specialties = specialties.Trim();
							specialties = specialties.TrimEnd(',');
							@Html.Raw(specialties);
						}
					</em>
					<span>@apiPractice.Address[0].Line1 @apiPractice.Address[0].Line2, @apiPractice.Address[0].City, @apiPractice.Address[0].State @apiPractice.Address[0].Zip</span>
					foreach(var contactNumber in @apiPractice.Address[0].ContactNumber)
					{
						if(contactNumber.Type == "Phone")
						{
							@Html.Raw("<span>" + contactNumber.Number + "</span>");
						}
					}
					if(!String.IsNullOrEmpty(umbracoPractice.siteURL.Url) && !String.IsNullOrEmpty(umbracoPractice.siteURL.Title))
					{
						@Html.Raw("<span><a href=" + umbracoPractice.siteURL.Url + "target=\"_blank\">" + umbracoPractice.siteURL.Title + "</a></span>");
					}
					else if(!String.IsNullOrEmpty(umbracoPractice.siteURL.Url) && String.IsNullOrEmpty(umbracoPractice.siteURL.Title))
					{
						@Html.Raw("<span><a href=" + umbracoPractice.siteURL.Url + "target=\"_blank\">" + umbracoPractice.siteURL.Url + "</a></span>");
					}
				}
				else
				{
					<h4>
						<a href="@umbracoPractice.Url">@umbracoPractice.Name</a>
					</h4>
					<em>
						@if (umbracoPractice.HasProperty("specialties") && umbracoPractice.GetProperty("specialties").Value != String.Empty)
						{
							string specialties = String.Empty;
							foreach (var x in umbracoPractice.specialties){
								var n = Library.NodeById(x.InnerText);
								specialties += n.Name + ", ";
							}
							specialties = specialties.Trim();
							specialties = specialties.TrimEnd(',');
							@Html.Raw(specialties);
						}
					</em>
				}
			</div>
			if(currentPractice == Convert.ToInt32(Math.Ceiling(Convert.ToDecimal(practiceIds.Count() /2.0))))
			{
				@Html.Raw("</div><div>");
			}
			else if(currentPractice == practiceIds.Count())
			{
				@Html.Raw("</div>");
			}
			currentPractice++;
		}
	</div>
</section>