@inherits umbraco.MacroEngines.DynamicNodeContext

@*
	Model = The current page the macro is executed on
			@Model.bodyText

	Parameter = collection of parameter values passed from the macro
			@Paramter.myParam

    Library = utillity library with common methods
    		@Library.NodeById(1233)
*@



@* The fun starts here *@

@{
	var locations = Model.Children.Where("nodeTypeAlias.Equals(\"Practice\")");
	var client = new WebClient();
	var json = client.DownloadString("http://doctors.stagnes.org/API/meettheteam?mode=DataList&listType=practices&dataFormat=json");
	var response = Json.Decode(json);
	string locationsArray = String.Empty;
	int currentPractice = 1;
}
@foreach(var umbracoLocation in locations)
{
	foreach(var apiLocation in response.DataList.Practice)
	{
		if(apiLocation.ID == umbracoLocation.practiceID || umbracoLocation.practiceID == "-1")
		{
			if(currentPractice == 1)
			{
				@Html.Raw("<div>");
			}
			if(umbracoLocation.practiceID != "-1")
			{
				<div class="practice">
					<h4>
						<a href="@umbracoLocation.Url">@apiLocation.Name</a>
					</h4>
					<em>
						@if (umbracoLocation.HasProperty("specialties") && umbracoLocation.GetProperty("specialties").Value != String.Empty)
						{
							string specialties = String.Empty;
							foreach (var x in umbracoLocation.specialties){
								var n = Library.NodeById(x.InnerText);
								specialties += n.Name + ", ";
							}
							specialties = specialties.Trim();
							specialties = specialties.TrimEnd(',');
							@Html.Raw(specialties);
						}
					</em>
					<span>@apiLocation.Address.Line1 @apiLocation.Address.Line2, @apiLocation.Address.City, @apiLocation.Address.State @apiLocation.Address.Zip</span>
					@foreach(var contactNumber in @apiLocation.Address.ContactNumber)
					{
						if(contactNumber.Type == "Phone")
						{
							@Html.Raw("<span>" + contactNumber.Number + "</span>");
						}
					}
					@if(!String.IsNullOrEmpty(umbracoLocation.siteURL.Url) && !String.IsNullOrEmpty(umbracoLocation.siteURL.Title))
					{
						@Html.Raw("<span><a href=" + umbracoLocation.siteURL.Url + "target=\"_blank\">" + umbracoLocation.siteURL.Title + "</a></span>");
					}
					else if(!String.IsNullOrEmpty(umbracoLocation.siteURL.Url) && String.IsNullOrEmpty(umbracoLocation.siteURL.Title))
					{
						@Html.Raw("<span><a href=" + umbracoLocation.siteURL.Url + "target=\"_blank\">" + umbracoLocation.siteURL.Url + "</a></span>");
					}
				</div>
				locationsArray += "[\"" + @apiLocation.Name + "\", " + @apiLocation.Address.Latitude + ", " + @apiLocation.Address.Longitude + "],";
			}
			else
			{
				<div class="practice">
					<h4>
						<a href="@umbracoLocation.Url">@umbracoLocation.Name</a>
					</h4>
					<em>
					@if (umbracoLocation.HasProperty("specialties") && umbracoLocation.GetProperty("specialties").Value != String.Empty)
					{
						string specialties = String.Empty;
						foreach (var x in umbracoLocation.specialties){
							var n = Library.NodeById(x.InnerText);
							specialties += n.Name + ", ";
						}
						specialties = specialties.Trim();
						specialties = specialties.TrimEnd(',');
						@Html.Raw(specialties);
					}
					</em>
				</div>
			}
			if(currentPractice == Convert.ToInt32(Math.Ceiling(Convert.ToDecimal(locations.Count() /2.0))))
			{
				@Html.Raw("</div><div>");
			}
			else if(currentPractice == locations.Count())
			{
				@Html.Raw("</div>");
			}
			currentPractice++;
			break;
		}
	}
}
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
	(function(){
		var locations = [@Html.Raw(locationsArray.TrimEnd(','))];

		var map = new google.maps.Map(document.getElementById('region-map'), {
			zoom: 10,
			center: new google.maps.LatLng(@Model.latitude, @Model.longitude),
			mapTypeId: google.maps.MapTypeId.ROADMAP
		});

		var infowindow = new google.maps.InfoWindow();

		var marker, i;

		for (i = 0; i < locations.length; i++) {  
			marker = new google.maps.Marker({
				position: new google.maps.LatLng(locations[i][1], locations[i][2]),
				map: map
			});
			google.maps.event.addListener(marker, 'click', (function(marker, i) {
				return function() {
					infowindow.setContent(locations[i][0]);
					infowindow.open(map, marker);
				}
			})(marker, i));
		}
	})();
</script>