@inherits umbraco.MacroEngines.DynamicNodeContext

@*
  Model = The current page the macro is executed on
      @Model.bodyText

  Parameter = collection of parameter values passed from the macro
      @Paramter.myParam

    Library = utillity library with common methods
        @Library.NodeById(1233)
        *@



        @* The fun starts here *@

@{
    string selectedArea = String.Empty;
    string selectedSpecialty = String.Empty;
    selectedArea = Request.QueryString["area"];
    selectedSpecialty = Request.QueryString["specialty"];
    HashSet<int> searchResults = new HashSet<int>();
}
@if(!String.IsNullOrEmpty(selectedArea) && !String.IsNullOrEmpty(selectedSpecialty))
{
    var area = Library.NodeById(Convert.ToInt32(selectedArea));
    foreach(var practice in area.Children.Where("nodeTypeAlias.Equals(\"Practice\")"))
    {
        if (practice.HasProperty("specialties") && practice.GetProperty("specialties").Value != String.Empty)
        {
            foreach (var x in practice.specialties)
            {
                if(x.InnerText.ToString() == selectedSpecialty)
                {
                    searchResults.Add(practice.Id);
                }
            }
        }
    }
    if(searchResults.Count() > 0)
    {
        <ul>
            @foreach(int result in searchResults)
            {
                var node = Library.NodeById(result);
                <li>
                    <a href="@node.Url">@node.Name</a>
                </li>
            }
        </ul>
    }
    else
    {
        <p>No results found, please go back search again.</p>
    }
}
else
{
    <p>No results found, please go back search again.</p>
}