@inherits umbraco.MacroEngines.DynamicNodeContext

@*
	Model = The current page the macro is executed on
			@Model.bodyText

	Parameter = collection of parameter values passed from the macro
			@Paramter.myParam

    Library = utillity library with common methods
    		@Library.NodeById(1233)
*@



@* The fun starts here *@

@{
	var specialties = Library.NodeById(1063).Children.Where("nodeTypeAlias.Equals(\"Specialty\")");
	var specialtiesGroup = specialties.Count() / 3;
}

<section id="list-of-specialties">
	<div class="section-title">
		<h3>List of Specialties</h3>
	</div>
	<div class="section-body">
		@foreach(var group in specialties.InGroupsOf(specialtiesGroup))
		{
			<div>
				@foreach(var specialty in group)
				{
					<div class="specialty">
						<h3><a href="@specialty.Url">@specialty.Name</a></h3>
					</div>
				}
			</div>
		}
	</div>
</section>