@inherits umbraco.MacroEngines.DynamicNodeContext

@*
	Model = The current page the macro is executed on
			@Model.bodyText

	Parameter = collection of parameter values passed from the macro
			@Paramter.myParam

    Library = utillity library with common methods
    		@Library.NodeById(1233)
*@



@* The fun starts here *@

@{
	var homePage = Model.AncestorsOrSelf(1).First();
	var specialties = Library.NodeById(1063).Children.Where("nodeTypeAlias.Equals(\"Specialty\") && specialtyID != \"29\" && specialtyID != \"152\"");
	var specialtiesGroup = specialties.Count() / 3;
}

<div class="nav-links">
	<div class="skip-nav">
		<ul>
			@foreach(var child in homePage.skipNav.Items)
			{
				<li>
					<a href="@child.Url" @Html.Raw(child.NewWindow ? "target=\"_blank\"" : "")>@child.Title</a>
				</li>
			}
		</ul>
	</div>
	<div class="main-nav">
		<ul>
			@foreach(var child in homePage.Children.Where("umbracoNaviHide != true"))
			{
				<li>
					<a href="@child.Url">@child.Name</a>
						@if(child.NodeTypeAlias == "Area")
						{
							string specialtyUrl = "/primary-care-physicians/?area=" + child.Id.ToString();
							<ul>
								@if (child.HasProperty("navSpecialties") && child.GetProperty("navSpecialties").Value != String.Empty)
								{
									foreach (var x in child.navSpecialties)
									{
										var n = Library.NodeById(x.InnerText);
										string navUrl = n.Url + "?area=" + child.Id.ToString();
										<li>
											<a href="@navUrl">@n.Name</a>
										</li>
									}
								}
								<li>
									<a href="@specialtyUrl">Primary Care Physicians</a>
								</li>
							</ul>
						}
						else if(child.Name == "Specialties")
						{
							<div class="specialties-dropdown">
								@foreach(var group in specialties.InGroupsOf(specialtiesGroup))
								{
									<div>
										<ul>
											@foreach(var specialty in group)
											{
												if(Convert.ToInt32(specialty.specialtyID) != 29 && Convert.ToInt32(specialty.specialtyID) != 152)
												{
													<li><a href="@specialty.Url">@specialty.Name</a></li>
												}
											}
										</ul>
									</div>
								}
							</div>
						}
				</li>
			}
		</ul>
	</div>
</div>