<%@ Master Language="C#" MasterPageFile="~/masterpages/StAgnesMaster.master" AutoEventWireup="true" %>

<asp:content ContentPlaceHolderId="Content" runat="server">
	<section id="content">
		<umbraco:Macro Alias="PageHeading" runat="server"></umbraco:Macro>
		<umbraco:Item field="pageContent" runat="server"></umbraco:Item>
	</section>
</asp:content>