<%@ Master Language="C#" MasterPageFile="~/umbraco/masterpages/default.master" AutoEventWireup="true" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>

<asp:Content ContentPlaceHolderID="ContentPlaceHolderDefault" runat="server">
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><umbraco:Item field="pageTitle" useIfEmpty="pageName" runat="server" /></title>
  	<meta name="description" content="<umbraco:Item field='metaDescription' runat='server'></umbraco:Item>" />
  	<meta name="keywords" content="<umbraco:Item field='metaKeywords' runat='server'></umbraco:Item>" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/app.min.css">
</head>
<body>
	<form runat="server">
		<cc1:ToolkitScriptManager ID="ToolkitScriptManager1" runat="server"></cc1:ToolkitScriptManager>
		<nav id="off-canvas">
			<umbraco:Macro Alias="OffCanvasNav" runat="server"></umbraco:Macro>
		</nav>
		<div id="wrap">
			<a href="#" id="dismiss-offcanvas"></a>
			<header>
				<nav>
					<div id="nav-wrap">
						<a href="/" class="logo"><img src="/img/logo.png" alt="Saint Agnes Medical Group"></a>
						<button id="nav-toggle" type="button">
							<i class="fa fa-bars"></i>
						</button>
						<umbraco:Macro Alias="TopNav" runat="server"></umbraco:Macro>	
					</div>
				</nav>
			</header>
			<section id="main">
				<asp:ContentPlaceHolder Id="Content" runat="server">
					<!-- Insert default "Content" markup here -->
				</asp:ContentPlaceHolder>
			</section>
			<footer>
				<div class="inner">
					<div id="site-map" class="footer-block">
						<div class="section-title">
							<h3>Site Map</h3>
						</div>
						<div class="section-body">
							<umbraco:Macro Alias="FooterSiteMap" runat="server"></umbraco:Macro>
						</div>
					</div>
					<div id="contact" class="footer-block">
						<div class="section-title">
							<h3>Contact</h3>
						</div>
						<div class="section-body">
							<umbraco:Macro Alias="FooterContact" runat="server"></umbraco:Macro>
						</div>
					</div>
				</div>
				<h5>&copy; <%= DateTime.Now.Year %> Seton Medical Group</h5>
			</footer>
		</div>
		<script type="text/javascript" src="/scripts/vendor.min.js"></script>
		<script type="text/javascript" src="/scripts/app.min.js"></script>
		<!--[if lte IE 9]>
		    <script type="text/javascript">
				(function($){
					$('input:text').each(function(){
						$this = $(this);
						var placeholder = $this.attr('placeholder');
						$this.val(placeholder);
						$this.on('focus', function(){
							if($this.val() === placeholder) {
								$this.val('');
							}
						}).on('blur', function(){
							if($this.val() === '')
							{
								$this.val(placeholder);
							}
						});
					});
				})(jQuery);
			</script>
	    <![endif]-->
    </form>
</body>
</html>
</asp:Content>