<%@ Master Language="C#" MasterPageFile="~/masterpages/StAgnesMaster.master" AutoEventWireup="true" %>

<asp:content ContentPlaceHolderId="Content" runat="server">
	<div id="areas-served">
		<umbraco:Macro Alias="HomeAreasServed" runat="server"></umbraco:Macro>
	</div>
	<div id="highlights-search">
		<div id="highlights" class="home-block">
			<div class="section-title">
				<h3>Highlights</h3>
			</div>
			<div class="section-body">
				<umbraco:Macro Alias="HomeHighlights" runat="server"></umbraco:Macro>
			</div>
		</div>
		<div id="search" class="home-block">
			<umbraco:Macro Alias="DefaultSearch" runat="server"></umbraco:Macro>
		</div>
	</div>
</asp:content>