<%@ Master Language="C#" MasterPageFile="~/masterpages/StAgnesMaster.master" AutoEventWireup="true" %>

<asp:content ContentPlaceHolderId="Content" runat="server">
	<section id="content">
		<umbraco:Macro Alias="PageHeading" runat="server"></umbraco:Macro>
		<div id="content-area">
			<article>
				<asp:ContentPlaceHolder Id="PageContent" runat="server">
					<!-- Insert default "PageContent" markup here -->
				</asp:ContentPlaceHolder>
			</article>
			<aside>
				<section id="search">
					<umbraco:Macro Alias="DefaultSearch" runat="server"></umbraco:Macro>
				</section>
			</aside>
		</div>
	</section>
</asp:content>