$contact-icon: -4px -4px 35px 35px
$highlight-icon: -4px -47px 35px 35px
$list-icon: -4px -90px 35px 35px
$search-icon: -4px -133px 35px 35px
$sitemap-icon: -4px -176px 35px 35px

=sprite-width($sprite)
  width: nth($sprite, 3)

=sprite-height($sprite)
  height: nth($sprite, 4)

=sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 1)
  $sprite-offset-y: nth($sprite, 2)
  background-position: $sprite-offset-x  $sprite-offset-y

=sprite($sprite)
  +sprite-position($sprite)
  background-repeat: no-repeat
  overflow: hidden
  display: block
  +sprite-width($sprite)
  +sprite-height($sprite)

.icon
  background-image: url('../img/sprite.png')

