@import "bourbon";
@import "grid-settings";
@import "neat";
@import "sprite";
@import "../vendor/modularized-normalize-scss/normalize";
@import "../vendor/slick.js/slick/slick";
@import "../vendor/slick.js/slick/slick-theme";

html
	height: 100%
	min-height: 100%
	&.offcanvas-active
		overflow: hidden
		body
			height: 100%
			overflow-y: hidden
			#off-canvas
				transform: translate(0,0)
			#wrap
				transform: translate(200px, 0)
				#dismiss-offcanvas
					display: block
	body
		font-size: 14px
		font-family: $lucida-grande
		@extend html
		overflow-x: hidden
		&>form
			height: 100%
		a
			color: #AD8A2D
			&:hover
				cursor: pointer
		#off-canvas
			background-color: #555
			box-shadow: inset -10px 0 10px -5px rgba(0,0,0,.3)
			height: 100%
			left: 0
			overflow-y: scroll
			position: absolute
			top: 0
			transform: translate(-200px,0)
			+transition(transform 0.5s ease-in-out)
			width: 200px
			ul
				margin: 0
				padding: 0
				li
					list-style: none
					margin: 0
					padding: 0
					&.dropdown
						&>a
							background-color: #555
						&.active
							&>a
								background-color: darken(#555,10%)
						ul
							box-shadow: inset 0 -1px 5px 3px rgba(0,0,0,0.4)
							display: none
							li
								a
									font-size: +em(14)
					a
						border-bottom: 2px solid lighten(#555,8%)
						color: #fff
						display: block
						font-size: +em(16)
						letter-spacing: 0.05em
						padding: 1em
						text-decoration: none
						+transition(0.3s background-color ease-in-out)
		#wrap
			background-attachment: fixed
			background-image: url(../img/bg-swirl.png)
			background-position: top center
			background-repeat: no-repeat
			background-size: 100% 100%
			min-height: 100%
			position: relative
			+transition(transform 0.5s ease-in-out)
			#dismiss-offcanvas
				display: none
				height: 100%
				left: 0
				position: absolute
				top: 0
				width: 100%
				z-index: 1
			nav
				background-color: #fff
				border-top: +em(4) solid #bd9121
				#nav-wrap
					+outer-container()
					padding: 15px
					.logo
						float: left
						img
							height: 55px
					#nav-toggle
						background: #fff
						border: 0
						border-radius: 0
						float: right
						font-size: 24px
						height: 37px
						margin-top: 10px
						padding: 0
						width: 37px
						&:focus
							background: #e6e6e6
							outline: none
						i
							color: #888
					.nav-links
						display: none
			.success
				color: #43A144
			.error
				color: #a94442
			.hidden
				display: none !important
			section
				&#main
					+outer-container()
					#areas-served
						margin-bottom: 31px
						&>div
							&:nth-of-type(1)
								.title
									+linear-gradient(to right, #153443, #21526a, #153443)
								.description
									background-color: #22536c
							&:nth-of-type(2)
								.title
									+linear-gradient(to right, #2d2731, #483e4d, #2d2731)
								.description
									background-color: #4a404e
							&:nth-of-type(3)
								.title
									+linear-gradient(to right, #4f5f3c, #7c975f,#4f5f3c)
								.description
									background-color: #7d9960
							.title
								background-position: center
								background-repeat: no-repeat
								background-size: cover
								position: relative
								text-align: center
								z-index: 0
								h3
									border-bottom: 1px solid rgba(255,255,255,0.5)
									border-top: 1px solid rgba(255,255,255,0.5)
									display: inline-block
									font-family: 'Open Sans', sans-serif
									font-size: 30px
									font-weight: 700
									margin-bottom: 45px
									margin-top: 45px
									padding-bottom: 11px
									padding-top: 11px
									text-transform: uppercase
									&:before
										bottom: 0
										content: ''
										left: 0
										position: absolute
										right: 0
										top: 0
										z-index: -1
									a
										color: #fff
										color: rgba(255,255,255,0.9)
										display: block
										text-decoration: none
							.description
								color: #fff
								font-family: $georgia
								min-height: 100px
								padding-bottom: 36px
								padding-top: 24px
								p
									margin: 0
									padding-left: 36px
									padding-right: 36px
					#highlights-search
						margin-bottom: 30px
						+row()
					.home-block
						.section-title
							background-color: #e4e4e4
							border-bottom: 2px solid #dab756
							padding-bottom: 6px
							padding-left: 11px
							padding-right: 11px
							padding-top: 6px
							h3
								background-repeat: no-repeat
								color: #6f6f72
								font-size: 15px
								line-height: 35px
								margin: 0
								padding-left: 45px
								position: relative
								text-transform: uppercase
								&:before
									content: ''
									@extend .icon
									left: 0
									position: absolute
									top: 0
						&#highlights
							background-color: #fff
							border-bottom: 1px solid #c8c8c8
							border-top: 1px solid #c8c8c8
							margin-bottom: 25px
							.section-title
								h3
									&:before
										+sprite($highlight-icon)
							.section-body
								color: #383838
								font-family: $georgia
								margin: 0
								padding-bottom: 5px
								padding-left: 18px
								padding-top: 17px
								padding-right: 18px
								.slide-img
									border: 1px solid #c8c8c8
									display: block
									margin-bottom: 10px
									max-width: 215px
								h4
									font-size: 16px
									margin-bottom: +em(8)
									margin-top: +em(4)
								p
									margin-top: 0
						&#search
							&>div
								background-color: #fff
								border-bottom: 1px solid #c8c8c8
								border-top: 1px solid #c8c8c8
								&:first-of-type
									margin-bottom: 4px
									.section-body
										padding-bottom: 28px
										padding-top: 29px
								&:last-of-type
									.section-body
										padding-bottom: 20px
										padding-top: 19px
							.section-title
								h3
									&:before
										+sprite($search-icon)
							.section-body
								+clearfix()
								padding-left: 12px
								padding-right: 12px
								input
									height: 39px
									&[type="text"]
										-webkit-appearance: none
										border: 1px solid #cacbca
										border-radius: 0
										color: #383838
										float: left
										font-family: $georgia
										line-height: 37px
										margin: 0
										padding-bottom: 0
										padding-left: 12px
										padding-right: 12px
										padding-top: 0
										width: 75%
										&::-webkit-input-placeholder
											color: #383838
										&::-moz-placeholder
											color: #383838
										&:-moz-placeholder
											color: #383838
										&:-ms-input-placeholder
											color: #383838
									&[type="submit"]
										background-color: #caa64d
										border: 0
										border-radius: 0
										color: #fff
										font-size: 12px
										float: right
										padding: 0
										+transition(background-color 0.3s ease-in-out)
										width: 24%
										&:hover
											background-color: shade(#caa64d, 5%)
								select
									-webkit-appearance: none
									background: url(../img/select-bg.png) #fff
									background-size: 100% 100%
									border: 0
									border-radius: 0
									color: #383838
									font-family: $georgia
									height: 39px
									padding-left: 12px
									padding-right: 12px
									position: relative
									width: 100%
									&:focus
										outline: none
									&:hover
										cursor: pointer
					#content
						background: #fafafa
						border-bottom: 1px solid #bebebe
						border-top: 1px solid #bebebe
						margin-bottom: 25px
						#heading
							background-image: url(../img/grey-gradient.png)
							background-repeat: no-repeat
							background-size: 100% 100%
							border-bottom: 1px solid #fafafa
							height: 165px
							padding-top: 50px
							text-align: center
							&.text-page
								h1
									border: 0
									padding: 0
							h1
								border-bottom: 1px solid rgba(255,255,255,0.5)
								border-top: 1px solid rgba(255,255,255,0.5)
								color: #fff
								color: rgba(255,255,255,0.9)
								display: inline-block
								font-size: 22px
								line-height: 1em
								margin: 0
								padding-bottom: 9px
								padding-top: 9px
								text-transform: uppercase
								&.hidden
									height: 1px
									left: -10000px
									overflow: hidden
									position: absolute
									top: auto
									width: 1px
								em
									display: block
									font-family: Georgia Italic, $georgia
									font-size: 15px
									font-weight: 200
									line-height: 1.2em
									text-transform: none
						#region-map
							border-bottom: 1px solid #fafafa
							height: 300px
							width: 100%
						#search
							.section-title
								h3
									&:before
										+sprite($search-icon)
							.section-body
								padding-bottom: 47px
								padding-left: 15px
								padding-right: 15px
								padding-top: 32px
								&>div
									+clearfix()
									position: relative
									input
										height: 39px
										&[type="text"]
											-webkit-appearance: none
											border: 1px solid #cacbca
											border-radius: 0
											color: #383838
											float: left
											font-family: $georgia
											line-height: 37px
											margin: 0
											padding-bottom: 0
											padding-left: 12px
											padding-right: 12px
											padding-top: 0
											width: 75%
											&::-webkit-input-placeholder
												color: #383838
											&::-moz-placeholder
												color: #383838
											&:-moz-placeholder
												color: #383838
											&:-ms-input-placeholder
												color: #383838
										&[type="submit"]
											background-color: #caa64d
											border: 0
											border-radius: 0
											color: #fff
											font-size: 12px
											float: right
											padding: 0
											+transition(background-color 0.3s ease-in-out)
											width: 24%
											&:hover
												background-color: shade(#caa64d, 5%)
									&:first-of-type
										margin-bottom: 15px
									&:last-of-type
										&:after
											content: ''
											left: 86%
											position: absolute
											top: 15px
											+triangle(15px 10px, #fff, down)
									select
										-webkit-appearance: none
										background: url(../img/mobile-select-bg.png) #fff
										background-size: 100% 100%
										border: 0
										border-radius: 0
										color: #383838
										font-family: $georgia
										height: 39px
										padding-left: 12px
										padding-right: 12px
										position: relative
										width: 100%
										&:focus
											outline: none
										&:hover
											cursor: pointer
						#list-of-practices
							.section-title
								h3
									&:before
										+sprite($list-icon)
							.section-body
								padding-bottom: 40px
								padding-left: 15px
								padding-right: 15px
								padding-top: 30px
								&>div
									padding-left: 15px
									padding-right: 15px
									&:last-of-type
										margin-right: 0
									.practice
										font-family: $georgia
										margin-bottom: 25px
										h4
											font-size: 16px
											font-weight: 700
											margin: 0
											text-transform: uppercase
										span, a, em
											display: block
											line-height: 1.3em
										a
											color: #383838
											text-decoration: none
											&:hover
												text-decoration: underline
										em
											font-size: 15px
						#list-of-specialties
							.section-title
								h3
									&:before
										+sprite($list-icon)
							.section-body
								padding-bottom: 40px
								padding-left: 15px
								padding-right: 15px
								padding-top: 30px
								&>div
									.specialty
										h3
											font-family: $georgia
											font-size: 16px
											margin-bottom: 50px
											margin-top: 20px
											text-align: center
											text-transform: uppercase
											a
												color: #383838
												text-decoration: none
												&:hover
													text-decoration: underline
						#content-area
							padding-bottom: 130px
							padding-left: 15px
							padding-right: 15px
							padding-top: 30px
							article
								color: #383838
								font-family: $georgia
								padding-bottom: 25px
								h2
									font-size: 16px
									margin-bottom: +em(8)
									margin-top: +em(10)
								h3
									font-size: 14px
									margin-bottom: +em(7)
								p
									margin-bottom: +em(24)
									margin-top: 0
								li
									margin-bottom: 0.5em
								#location
									margin-bottom: 36px
									h3
									em, span
										display: block
										line-height: 1.3em
								#doctors
									margin-bottom: 36px
									margin-left: 0
									padding-left: 0
									.provider
										+clearfix()
										border-bottom: 1px solid #c8c8c8
										margin-bottom: 25px
										padding-bottom: 25px
										&:last-of-type
											border-bottom: none
										.photo
											float: left
											margin-right: 3%
											min-height: 1px
											width: 27%
											img
												width: 100%
										.info
											float: left
											line-height: 1.8em
											width: 70%
											.name
												color: #383838
												display: block
												font-size: 1.2em
												font-weight: 700
											.specialties
												display: block
											.bio
												line-height: normal
								#highlights
									.article
										border-bottom: 1px solid #c8c8c8
										margin-bottom: 25px
										padding-bottom: 25px
										&:last-of-type
											border-bottom: 0
								#pagination
									+clearfix()
									margin: 0
									padding: 0
									li
										border-right: 1px solid #b8b8b8
										float: left
										list-style: none
										margin: 0
										padding: 0
										+transition(0.3s border-color ease-in-out)
										&:hover
											border-color: darken(#c8c8c8, 5%)
											a
												background-color: darken(#d8d8d8, 5%)
										&.disabled
											a
												&:hover
													cursor: not-allowed
										a
											background-color: #d8d8d8
											color: #555
											display: inline-block
											padding: 0.5em
											+transition(0.3s background-color ease-in-out)
										&:first-of-type
											a
												border-top-left-radius: 3px
												border-bottom-left-radius: 3px
										&:last-of-type
											border-right: 0
											a
												border-top-right-radius: 3px
												border-bottom-right-radius: 3px
							aside
								#google-map
									border: 1px solid #bdbdbd
									height: 350px
									width: 100%
								#search
									&>div
										border: 1px solid #cacaca
										&:first-of-type
											margin-bottom: 10px
											.section-body
												padding-bottom: 18px
												padding-top: 30px
												&:after
													top: 45px
										&:last-of-type
											.section-body
												padding-bottom: 26px
												padding-top: 20px
												&:after
													top: 35px
										.section-body
											+clearfix()
											padding-left: 24px
											position: relative
											&:after
												content: ''
												left: 79%
												position: absolute
												+triangle(15px 10px, #fff, down)
											input
												&[type="text"]
													-webkit-appearance: none
													border: 1px solid #cbcbcb
													border-radius: 0
													color: #383838
													font-family: $georgia
													line-height: 37px
													margin-bottom: 10px
													padding-bottom: 0
													padding-left: 12px
													padding-right: 12px
													padding-top: 0
													width: 100%
													&::-webkit-input-placeholder
														color: #383838
													&::-moz-placeholder
														color: #383838
													&:-moz-placeholder
														color: #383838
													&:-ms-input-placeholder
														color: #383838
												&[type="submit"]
													background-color: #caa64d
													border: 0
													border-radius: 0
													color: #fff
													float: right
													font-size: 12px
													line-height: 40px
													padding: 0
													width: 31.847134%
											select
												-webkit-appearance: none
												background: url(../img/mobile-sidebar-select-bg.png) #fff
												background-size: 100% 100%
												border: 0
												border-radius: 0
												color: #383838
												font-family: $georgia
												height: 39px
												padding-left: 12px
												width: 100%
						.section-title
							background-color: #e4e4e4
							border-bottom: 2px solid #dab756
							padding-bottom: 6px
							padding-left: 11px
							padding-right: 11px
							padding-top: 6px
							h3
								background-repeat: no-repeat
								color: #6f6f72
								font-size: 15px
								line-height: 35px
								margin: 0
								padding-left: 45px
								position: relative
								text-transform: uppercase
								&:before
									content: ''
									@extend .icon
									left: 0
									position: absolute
									top: 0
			footer
				background: #fafafa
				border-bottom: 1px solid #bebebe
				border-top: 1px solid #bebebe
				+outer-container()
				&:before
					+linear-gradient(to right, #22536c, #22536c 33%, #493f4e 33%, #493f4e 66%, #7d995f 66%)
					content: ''
					display: block
					height: 8px
				.inner
					+clearfix()
					padding-bottom: 31px
					padding-left: 14px
					padding-top: 34px
					padding-right: 14px
					+row()
					.footer-block
						border: 1px solid #cacaca
						.section-title
							background-color: #e4e4e4
							border-bottom: 2px solid #dab756
							padding-bottom: 6px
							padding-left: 11px
							padding-right: 11px
							padding-top: 6px
							h3
								background-repeat: no-repeat
								color: #6f6f72
								font-size: 15px
								line-height: 35px
								margin: 0
								padding-left: 45px
								position: relative
								&:before
									content: ''
									@extend .icon
									left: 0
									position: absolute
									top: 0
						.section-body
							padding-top: 20px
						&#site-map
							margin-bottom: 20px
							.section-title
								h3
									&:before
										+sprite($sitemap-icon)
							.section-body
								+clearfix()
								padding-bottom: 36px
								padding-left: 19px
								padding-right: 19px
								ul
									float: left
									margin: 0 3.3333% 0 0
									padding: 0
									width: 30%
									li
										font-family: $georgia
										font-size: 15px
										list-style: none
										padding: 0
										a
											color: #383838
											display: inline-block
											margin-bottom: 0.6em
											text-decoration: none
											&:hover
												text-decoration: underline
										ul
											float: none
											width: 100%
											li
												font-size: 12px
												&:last-child
													a
														margin-bottom: 0
												a
													color: #737373
						&#contact
							.section-title
								h3
									&:before
										+sprite($contact-icon)
							.section-body
								font-family: $georgia
								padding-bottom: 18px
								padding-left: 10px
								padding-right: 8px
								+clearfix()
								.form-left
									.form-input
										position: relative
										.form-error
											bottom: 5px

											font-size: 12px
											left: 0
											position: absolute
									input
										-webkit-appearance: none
										border: 1px solid #cbcbcb
										border-radius: 0
										color: #383838
										font-size: 12px
										line-height: 29px
										margin-bottom: 24px
										padding-bottom: 0
										padding-left: 5px
										padding-right: 5px
										padding-top: 0
										width: 100%
										&::-webkit-input-placeholder
											color: #383838
										&::-moz-placeholder
											color: #383838
										&:-moz-placeholder
											color: #383838
										&:-ms-input-placeholder
											color: #383838
								.form-right
									.form-input
										position: relative
										.form-error
											bottom: 0

											font-size: 12px
											left: 0
											position: absolute
									textarea
										-webkit-appearance: none
										border: 1px solid #cbcbcb
										border-radius: 0
										color: #383838
										font-size: 12px
										height: 141px
										margin-bottom: 14px
										padding-bottom: 8px
										padding-left: 5px
										padding-right: 5px
										padding-top: 8px
										resize: none
										width: 100%
										&::-webkit-input-placeholder
											color: #383838
										&::-moz-placeholder
											color: #383838
										&:-moz-placeholder
											color: #383838
										&:-ms-input-placeholder
											color: #383838
									input
										&[type="submit"]
											background-color: #caa64d
											border: 0
											border-radius: 0
											color: #fff
											font-family: $lucida-grande
											font-size: 12px
											float: right
											line-height: 30px
											padding: 0
											+transition(background-color 0.3s ease-in-out)
											width: 98px
											&:hover
												background-color: shade(#caa64d, 5%)
				h5
					color: #424242
					font-family: $georgia
					font-size: 13px
					font-weight: 400
					margin-bottom: 22px
					text-align: center
+media($tablet)
	html
		body
			#off-canvas
				display: none
			#wrap
				nav
					border-bottom: 1px solid #bdbdbd
					#nav-wrap
						+outer-container(768px)
						padding-bottom: 0
						padding-left: 0
						padding-right: 0
						padding-top: 12px
						.logo
							img
								height: 70px
								margin-left: 15px
						#nav-toggle
							display: none
						.nav-links
							display: block
							float: right
							div
								+row()
								&.main-nav
									ul
										li
											margin-bottom: 1px
											margin-left: 1em
											margin-right: 1em
											position: relative
											&:first-child
												margin-left: 0
											&:last-child
												margin-right: 0
											&:hover
												ul, .specialties-dropdown
													opacity: 1
													visibility: visible
											a
												background-color: #fff
												display: inline-block
												padding-bottom: +em(22)
												padding-left: 1em
												padding-right: 1em
												padding-top: +em(22)
												text-transform: uppercase
												+transition(background-color 0.3s ease-in-out)
												&:hover
													background-color: shade(#fff, 5%)
											&>ul
												left: 0
												opacity: 0
												position: absolute
												top: 100%
												+transition(opacity 0.3s ease-in-out, visibility 0.3s ease-in-out)
												visibility: hidden
												width: 200px
												z-index: 1
												li
													border-bottom: 1px solid #c8c8c8
													margin: 0
													width: 100%
													a
														display: block
														padding-bottom: 1em
														padding-top: 1em
														text-transform: none
											.specialties-dropdown
												background-color: #fff
												+clearfix()
												display: table
												opacity: 0
												padding: 5px 0
												position: absolute
												right: 0
												top: 100%
												+transition(opacity 0.3s ease-in-out, visibility 0.3s ease-in-out)
												visibility: hidden
												width: 600px
												z-index: 1
												div
													border-right: 1px solid #c8c8c8
													display: table-cell
													vertical-align: top
													width: 33.33333%
													&:last-child
														border-right: 0
													ul
														li
															margin: 0
															width: 100%
															a
																display: block
																padding-bottom: 1em
																padding-top: 1em
																text-transform: none
								&.skip-nav
									margin-bottom: 15px
									margin-top: 5px
									ul
										li
											&:last-child
												a
													margin-right: 1em
											a
												margin-right: +em(23)
												&:hover
													text-decoration: underline
								ul
									float: right
									margin: 0
									padding: 0
									li
										float: left
										line-height: 1em
										list-style: none
										a
											color: #4c4c4c
											text-decoration: none
				section
					&#main
						+outer-container(768px)
						#highlights-search
							padding: 0
						.home-block
							&#highlights
								border: 1px solid #c8c8c8
								.section-body
									.slide-img
										float: left
										margin-right: 29px
							&#search
								&>div
									border: 1px solid #c8c8c8
									&:last-of-type
										.section-body
											position: relative
											&:after
												content: ''
												left: 86%
												position: absolute
												top: 35px
												+triangle(15px 10px, #fff, down)
								.section-body
									select
										background: url(../img/mobile-select-bg.png) #fff
										background-size: 100% 100%
						#content
							border: 1px solid #bebebe
							#heading
								&.text-page
									padding-left: 73px
									text-align: left
								h1
									font-size: 30px
							#search
								&>div
								.section-body
									+row()
									&>div
										padding-right: 20px
										+span-columns(4)
										&:first-of-type
											border-right: 1px solid #bdbdbd
										&:last-of-type
											&:after
												display: none
										select
											background: url(../img/select-bg.png) #fff
											background-size: 100% 100%
							#list-of-practices
								.section-body
									+fill-parent();
									+row(table);
									&>div
										border-right: 1px solid #bdbdbd
										padding-left: 15px
										padding-right: 20px
										position: relative
										+span-columns(4)
										&:last-of-type
											border-right: 0
										.practice
											margin-bottom: 30px
											margin-top: 6px
											h4
												font-size: 18px
											&:last-of-type
												margin-bottom: 0
							#list-of-specialties
								.section-body
									+fill-parent();
									+row(table);
									&>div
										border-right: 1px solid #bdbdbd
										padding-left: 10px
										padding-right: 10px
										+span-columns(2.6666667)
										&:last-of-type
											border-right: 0
							#content-area
								+row()
								article
									padding-right: 15px
									+span-columns(5)
									#location
										h3
											font-size: 16px
										em, span
											font-size: 16px
								aside
									+span-columns(3)
									#google-map
										height: 250px
									#search
										&>div
											.section-body
												&:first-of-type
													&:after
														left: 78%
				footer
					border: 1px solid #bebebe
					+outer-container(768px)
					.inner
						.footer-block
							&#contact
								.section-body
									.form-left
										float: left
										width: 46%
										.form-input
											&:last-of-type
												input
													margin-bottom: 0
									.form-right
										float: right
										width: 50%
										textarea
											padding-left: 9px
											padding-right: 9px
										input
											&[type="submit"]
												font-size: 10px
+media($desktop)
	html
		body
			#wrap
				nav
					#nav-wrap
						+outer-container(1170px)
						.logo
							img
								height: auto
								margin-left: 0
						.nav-links
							div
								&.main-nav
									ul
										li
											margin-bottom: 0
											margin-left: +em(40)
											margin-right: +em(40)
											a
												padding-bottom: +em(26)
												padding-top: +em(26)
								&.skip-nav
									margin-top: +em(11)
				section
					&#main
						+outer-container(1170px)
						#areas-served
							+fill-parent()
							+row(table)
							&>div
								&:nth-of-type(1)
									background-color: #c0ccd2
									border-right: 1px solid #fff
									+span-columns(5)
									.title
										background-image: url(../img/catonsville.jpg)
										h3
											&:before
												background-color: rgba(87,161,219,0.5)
								&:nth-of-type(2)
									background-color: #d0ced1
									border-right: 1px solid #fff
									+span-columns(6)
									.title
										background-image: url(../img/baltimore.jpg)
										h3
											&:before
												background-color: rgba(54,43,59,0.5)
								&:nth-of-type(3)
									background-color: #dbe2d5
									+span-columns(5)
									.title
										background-image: url(../img/howard.jpg)
										h3
											&:before
												background-color: rgba(108,153,60,0.6)
								.title
									height: 434px
									h3
										font-size: 45px
										margin-top: 190px
								.description
									height: 138px
									margin-bottom: 22px
									padding-top: 21px
									position: relative
									&:after
										background-color: #fff
										bottom: 4px
										content: ''
										display: block
										height: 15px
										left: 0
										position: absolute
										width: 100%
									p
										&:after
											bottom: 19px
											content: ''
											+triangle(24px 11px, #fff, up)
											left: 50%
											margin-left: -12px
											position: absolute
						.home-block
							+reset-display()
							&#highlights
								margin-bottom: 0
								min-height: 231px
								+span-columns(10)
								.section-body
									.slick-dots
										bottom: 3px
										left: 34%
										margin: 0
										width: auto
										li
											margin: 0
											&.slick-active
												button
													&:before
														color: #dab756
											button
												margin: 0
												padding: 0
												&:before
													color: #b1b1b1
													font-size: 11px
													opacity: 1
							&#search
								+span-columns(6)
								&>div
									&:last-of-type
										.section-body
											&:after
												display: none
								.section-body
									select
										background: url(../img/select-bg.png) #fff
										background-size: 100% 100%
						#content
							#heading
								height: 190px
								padding-top: 60px
								h1
									font-size: 40px
									em
										font-size: 20px
							#region-map
								height: 350px
							#search
								.section-body
									&>div
										padding-bottom: 13px
										padding-left: 73px
										padding-right: 73px
										padding-top: 7px
										+span-columns(8)
							#list-of-practices
								.section-body
									+fill-parent();
									+row(table);
									&>div
										padding-left: 73px
										padding-right: 73px
										+span-columns(8)
										.practice
											margin-bottom: 50px
											margin-top: 11px
											h4
												font-size: 20px
											em
											font-size: 16px
							#list-of-specialties
								.section-body
									+fill-parent();
									+row(table);
									&>div
										+span-columns(5.33333333)
										padding-left: 15px
										padding-right: 15px
										.specialty
											h3
												font-size: 20px
												margin-bottom: 70px
												margin-top: 30px
							#content-area
								+row()
								article
									padding-left: 58px
									padding-right: 30px
									+span-columns(11)
									#doctors
										margin-bottom: 36px
										li
											font-size: 16px
											margin-bottom: +em(34)
											margin-top: +em(10)
								aside
									+span-columns(5)
									#google-map
										height: 300px
										width: 100%
									#search
										&>div
											.section-body
												&:first-of-type
													&:after
														left: 79%
				footer
					+outer-container(1170px)
					.inner
						.footer-block
							&#site-map
								margin-bottom: 0
								min-height: 277px
								+span-columns(7.5)
							&#contact
								+shift(1.5)
								+span-columns(7)